.background {
    background-color: whitesmoke;
    padding: 40px 80px 80px;
  }
  #screen {
    position: relative;
    width: 1200px;
    height: 500px;
    border: 2px solid #bbb;
    margin: 0 auto;
    overflow: hidden;
  }
  .content {
    border: 1px solid rgb(200, 100, 50);
    border-radius: 3px;
    width: 330px;
    height: 35px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .send {
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
    padding: 0;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    width: 110px;
    background-color: white;
  }
  .clear {
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
    padding: 0;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    width: 110px;
    background-color: white;
  }
  .opacity{
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
    padding: 0;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    width: 110px;
    background-color: white;
  }


  .edit {
    margin: 20px;
    text-align: center;
  }

  .text {
    color: blueviolet;
    position: absolute;
  }
  *{
    margin: 0;
    padding: 0;
  }

  .dm_show{
    margin: 30px0;
  }