*{
    margin: 0;
}
#part1{
    background-color: #003399;
}
#part2{
    background-color:#CCFF99;
}
#part3{
     background-color:#333333;
}
#myhead{
    width: 1200px;
    margin: 0 auto;
    height: 40px;
    font-family: 'Lucida Sans';
    vertical-align: middle;
}
#mylogo{
    width: 25px;
    height: 25px;
    vertical-align: middle; 
}
.mybody{
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}
.body 
{
    display: flex; 
    justify-content: space-around;
}
#headleft{
    color: #fff;
    margin-left: 10%;
    font-family: 'Lucida Sans';
    font-size: 22px;
}
#headright{
    color: #fff;
    float:right;
    margin-right: 10%;
    font-family: 'Lucida Sans';
    font-size: 22px;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    border: solid 2px red;
    float: left;
    background-color: skyblue;
    width: 20%;
    height: 120%;
}
.header h3{
    text-align: center;
}

#favoritemovies,#favoritebooks{
    vertical-align: middle;
    text-align: center;
    
}
img{
    width:230px;
    height: 330px;
}
.line{
    width: 100px;
    margin: 10px auto;
    background-color: black;    
    height: 5px
}
#mycopy{
    margin: 0 auto;
    width: 1200px;
    text-align: center;
} 
#mycopy p{
    float: left;
    margin-top: 80px;
    margin-left: 80px;
    color: white;
    font-size: 20px;
    line-height: 50px;
    font-family: 'Courier New';
}
#mycopy img{
    width: 300px;
    height: 300px;
   margin-top: 20px;
   margin-bottom: 20px;
}
#copy{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans';
    height: 40px;
    font-size: 22px;
}
hr{
    width: 1100px;
    margin: 0 auto;
}



